<div class="netflix-dialog-container">
  <h1 class="netflix-title">Unlock Premium Features!</h1>
  <div class="netflix-content">
    <p>Discover a world of exclusive content and personalized experiences by signing up or logging in.</p>
    <p>🌟 Enjoy premium features like saving your favorite items to access them anytime, anywhere!</p>
    <p>🚀 Elevate your experience and tailor your preferences to make the most out of our platform.</p>
    <p>Join our community today and unlock a new level of convenience and customization!</p>
  </div>
  <div class="netflix-actions">
    <!-- White button -->
    <button class="netflix-button maybe-later" (click)="closeDialog()">Maybe Later</button>
    <!-- Primary button -->
    <button class="netflix-button join-now" [routerLink]="['/signup']" (click)="closeDialog()">Join Now</button>
  </div>
</div>
